  <!-- Barra de navegación con texto desplazándose -->
    <nav class="custom-moving-navbar">
      
        <span class="moving-text">¡ ♾️ ❤ Oferta especial por tiempo limitado! ¡No te lo pierdas! ¡Compra ahora y ahorra ❤! ♾️
          
        </span> 
    </nav>
    

  