<!-- views/partials/footer.ejs (Versión sin estilos) -->
<footer>
    
    <h3>Información del Sitio</h3>
    <p>&copy; 2025 NeuroDiverse. Todos los derechos reservados.</p>
    <p>Redes Sociales:</p>
    <p>
        <a href="#">Facebook</a> |
        <a href="#">Instagram</a> |
        <a href="#">Twitter</a>
    </p>
    
</footer>