<!-- views/partials/nav.ejs -->
<nav class="navbar navbar-expand-lg bg-light">
    

    <!-- Botón para abrir el sidebar con Font Awesome -->
    <header>
        <div class="header-container">
          <button id="menu-toggle" class="menu-toggle-btn">
            <i class="fa-solid fa-bars"></i>
          </button>
          
          <a href="/" class="logo-link">
            <img src="/img/Neurodiverse.png" alt="NeuroDiverse Logo" class="logo">
          </a>
        </div>
      </header>
      
    
    <!-- Contenedor de los iconos a la derecha -->
    <div class="nav-right">
        <!-- Icono de usuario -->
        <a id="user-toggle" href="#" class="icon-user">
            <i class="fa-solid fa-user icon-user"></i>
        </a>

        <!-- Icono de carrito -->
        <a id="cart-toggle" href="#" class="icon-cart">
            <i class="fa-solid fa-shopping-cart icon-cart"></i>
        </a>
    </div>
    
    
</nav>

